@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@200;400;500;600&family=Ubuntu:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    margin: 0;
    background-image: url(./snow.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-weight: normal;
    text-align: center;
    font-size: 4rem;
}

.countdown-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem ;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
    font-weight: bold;
}